@import "baseStyle.less";

.pda-back-button {
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    left: 15px;
    bottom: 50px;
    z-index: 100;

    .fas {
        .applyIconsSettings(24px, 1em, white);
    }
}

.pda-app-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #f2f2f2;

    .famo-loader {
        width: 45px;
        margin: auto;
    }
}