<?xml version='1.0' encoding='utf-8'?>
<widget id="famo.pda" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FAMO - PDA</name>
    <description>
        An application made by FAMO that is going to replace old PDA's.
    </description>
    <author email="servicedesk@famo.pt" href="http://www.famo.pt/pt/">
        FAMO
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="phonegap-plugin-barcodescanner" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icons/36.png" />
        <icon density="mdpi" src="resources/android/icons/48.png" />
        <icon density="hdpi" src="resources/android/icons/72.png"/>
        <icon density="xhdpi" src="resources/android/icons/96.png" />
        <icon density="xxhdpi" src="resources/android/icons/144.png" />
        <icon density="xxxhdpi" src="resources/android/icons/192.png" />
        <splash density="land-ldpi" src="resources/android/splash/320x200.png" />
        <splash density="land-mdpi" src="resources/android/splash/480x320.png" />
        <splash density="land-hdpi" src="resources/android/splash/800x480.png" />
        <splash density="land-xhdpi" src="resources/android/splash/1280x720.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/1600x960.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/1920x1280.png" />
        <splash density="port-ldpi" src="resources/android/splash/200x320.png" />
        <splash density="port-mdpi" src="resources/android/splash/320x480.png" />
        <splash density="port-hdpi" src="resources/android/splash/480x800.png" />
        <splash density="port-xhdpi" src="resources/android/splash/720x1280.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/960x1600.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/1280x1920.png" />
        <splash density="ldpi" src="resources/android/splash/200x320.png" />
        <splash density="mdpi" src="resources/android/splash/320x480.png" />
        <splash density="hdpi" src="resources/android/splash/480x800.png" />
        <splash density="xhdpi" src="resources/android/splash/720x1280.png" />
        <splash density="xxhdpi" src="resources/android/splash/960x1600.png" />
        <splash density="xxxhdpi" src="resources/android/splash/1280x1920.png" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="HeaderColor" value="#ffffff" />
</widget>
