/*.applyTextSettings(@font_family, @font_size, @color) {
    font-family: @font_family !important;
    font-size: @font_size !important;
    line-height: @line_height !important;
    color: @color;
}*/
.famo-text-5,
.famo-text-13 {
  font-size: 18px !important;
}
.famo-text-10,
.famo-text-11,
.famo-text-12 {
  font-size: 16px !important;
}
.famo-input {
  height: 38px;
}
* > .famo-button:not(:first-child) {
  margin-left: 4px;
}
.famo-body .famo-wrapper .famo-title span {
  cursor: default;
}
.famo-body .famo-wrapper .famo-title span::before {
  content: none;
}
.pda-back-button {
  padding: 15px;
  border-radius: 50%;
  position: fixed;
  left: 15px;
  bottom: 50px;
  z-index: 100;
}
.pda-back-button .fas {
  font-size: 26px !important;
  line-height: 1em !important;
  color: white;
}
.pda-app-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #f2f2f2;
}
.pda-app-loader .famo-loader {
  width: 45px;
  margin: auto;
}
.pallets .famo-row:not(.famo-header-row) {
  cursor: pointer;
}
.pallet-boxes .famo-col-1 {
  width: 120px;
}
.pallet-boxes .famo-col-3 {
  width: 60px;
}
.pallet-boxes .button-delete-box .fas {
  font-size: 14px !important;
  line-height: 1em !important;
  color: #ffffff;
}
