@import "animations.less";
@import "functions.less";
@import "variables.less";

@media all {

    body {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    // All font-size properties of famo-text-* have an increment of 2px.
    .famo-text-5,
    .famo-text-13 {
        font-size: 16px !important;
    }

    .famo-text-10,
    .famo-text-11,
    .famo-text-12 {
        font-size: 14px !important;
    }

    .famo-input {
        height: 34px;
    }

    .famo-button {
        padding: 10px 15px;
    }

    *>.famo-button:not(:first-child) {
        margin-left: @famo_button_margin_l;
    }

    .famo-body .famo-wrapper .famo-title span {
        cursor: default;

        &::before {
            content: none;
        }
    }

    .pda-back-button {
        padding: 15px;
        border-radius: 50%;
        position: fixed;
        left: 15px;
        bottom: 35px;
        z-index: 100;

        .fas {
            .applyIcon(26px, 1em, white);
        }
    }

    .pda-app-loader {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #f2f2f2;

        .famo-loader {
            width: 45px;
            margin: auto;
        }
    }

    .pallets,
    .shipments {
        .famo-row:not(.famo-header-row) {
            cursor: pointer;
        }
    }

    .pallet-boxes {
        .applyCol(1, @width: 100px);
        .applyCol(3, @width: @famo_content_fa_button_w_lg);

        .button-delete-box .fas {
            .applyIcon(@famo_icon_fs_content_lg, @base_line_height, @color_2);
        }
    }

    .shipments {
        .applyCol(1, @width: 130px);
        .applyCol(3, @width: 75px);
    }

    .expedition-products {
        .applyCol(1, @width: 100px);
        .applyCol(3, @width: 60px);

        .famo-body-row {

            .famo-col-2,
            .famo-col-3 {
                span {
                    .applyWordWrapping();
                }
            }
        }

        .famo-button {
            padding: 0px;
            margin: 0px !important;

            .fas {
                .applyIcon(@famo_icon_fs_content_lg, @base_line_height, @base_color);
            }
        }
    }

    .expedition-boxes {
        .applyCol(2, @width: @famo_content_fa_button_w_lg);

        margin-top: 15px;

        .button-delete-box .fas {
            .applyIcon(@famo_icon_fs_content_lg, @base_line_height, @color_2);
        }
    }

    .expedition-components {
        .applyCol(1, @width: 105px);
        .applyCol(3, @width: 60px);
        .applyCol(4, @width: 20px);

        .famo-body-row {

            .famo-col-1,
            .famo-col-2 {
                span {
                    .applyWordWrapping();
                }
            }
        }

        .fas {
            .applyIcon(@famo_icon_fs_content_lg, @base_line_height);
        }
    }
}

//** ECRAS MUITO GRANDES
@media screen and (max-width: (1200px - 1px)) {}

//** ECRAS GRANDES
@media screen and (max-width: (992px - 1px)) {

    // Reset font-size properties.
    .famo-text-5,
    .famo-text-13 {
        font-size: 14px !important;
    }

    .famo-text-10,
    .famo-text-11,
    .famo-text-12 {
        font-size: 12px !important;
    }

    .famo-input {
        height: 30px;
    }

    .famo-button {
        padding: 5px 10px;
    }

    .pallet-boxes {
        .applyCol(3, @width: @famo_content_fa_button_w);

        .button-delete-box .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height, @color_2);
        }
    }

    .expedition-products {
        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height, @base_color);
        }

    }

    .expedition-boxes {
        .applyCol(2, @width: @famo_content_fa_button_w);

        .button-delete-box .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height, @color_2);
        }
    }

    .expedition-components {
        .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height);
        }
    }
}

//** ECRAS MEDIOS
@media screen and (max-width: (768px - 1px)) {}

//** ECRAS PEQUENOS
@media screen and (max-width: (576px - 1px)) {
    .shipments {
        .applyCol(1, @width: 55%);
        .applyCol(2, none);
        .applyCol(3, @width: 45%);
    }

    .expedition-details .col-xl-5 {
        display: none;
    }

    .expedition-components {
        .applyCol(1, none);
    }
}