@import "animations.less";
@import "functions.less";
@import "variables.less";

@media all {
    *:not(.famo-input) {
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    // All font-size properties of famo-text-* have an increment of 2px.
    .famo-text-5,
    .famo-text-13 {
        font-size: 16px !important;
    }

    .famo-text-10,
    .famo-text-11,
    .famo-text-12,
    .famo-text-15 {
        font-size: 14px !important;
    }

    .famo-text-23 {
        font-size: 27px !important;
    }

    .famo-input {
        height: 34px;
    }

    div.famo-input {
        margin-bottom: 7px !important;
    }

    .famo-checkbox {
        &::before {
            width: 25px;
            height: 25px;
        }

        &::after {
            width: 15px;
            height: 9px;
            border-bottom-width: 4px;
            border-left-width: 4px;
            top: 6px;
            left: 5px;
        }
    }

    .famo-button {
        padding: 10px 15px;
    }

    *>.famo-button:not(:first-child) {
        margin-left: @famo_button_margin_l;
    }

    .famo-body .famo-wrapper {
        .famo-title span {
            cursor: default;

            &::before {
                content: none;
            }
        }

        .famo-form-grid .famo-input-label .famo-input-loader {
            top: 0px;
        }
    }

    .pda-app-loader {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #f2f2f2;

        .famo-loader {
            width: 45px;
            margin: auto;
        }
    }

    .pda-back-button {
        padding: 15px !important;
        border-radius: 50%;
        position: fixed;
        left: 15px;
        bottom: 20px;
        z-index: 100;

        .fas {
            .applyIcon(26px, 1em, white);
        }
    }

    .pda-victory-container {
        width: 100%;
        height: 150px;
        text-align: center;

        svg {
            width: 100%;
            height: 100%;

            tspan {
                .applyText(normal, normal, 36px, @base_color);
            }
        }
    }

    .form-message {
        display: inline-block;
        margin-right: 10px;
    }

    .pallets,
    .shipments {
        .famo-row:not(.famo-header-row) {
            cursor: pointer;
        }
    }

    .pallet-boxes {
        .applyCol(1, @width: 100px);
        .applyCol(3, @width: @famo_content_fa_button_w_lg);

        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content_lg, @base_line_height, @color_2);
        }
    }

    .shipments {
        .applyCol(1, @width: 100px);
        .applyCol(3, @width: 90px);
        .applyCol(4, @width: 85px);
        .applyCol(5, @width: @famo_content_fa_button_w_lg);

        .famo-body-row {
            .famo-col-4 {
                span {
                    .applyWordWrapping();
                }
            }
        }

        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content_lg, @base_line_height, @color_2);
        }
    }

    .expedition-products {
        .applyCol(1, @width: 100px);
        .applyCol(3, @width: 60px);

        .famo-body-row {

            .famo-col-2,
            .famo-col-3 {
                span {
                    .applyWordWrapping();
                }
            }
        }

        .famo-button {
            padding: 0px;
            margin: 0px !important;

            .fas {
                .applyIcon(@famo_icon_fs_content_lg, @base_line_height, @base_color);
            }
        }
    }

    .expedition-boxes {
        .applyCol(2, @width: @famo_content_fa_button_w_lg);

        margin-top: 15px;

        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content_lg, @base_line_height, @color_2);
        }
    }

    .expedition-components {
        .applyCol(1, @width: 105px);
        .applyCol(3, @width: 65px);
        .applyCol(4, @width: 45px);
        .applyCol(5, @width: 20px);

        .famo-body-row {

            .famo-col-1,
            .famo-col-2 {
                span {
                    .applyWordWrapping();
                }
            }
        }

        .fas {
            .applyIcon(@famo_icon_fs_content_lg, @base_line_height);
        }
    }

    .warehouse-boxes {
        .applyCol(2, @width: 95px);
        .applyCol(3, @width: 30px);
    }

    .tv-body {
        p+p {
            margin-top: 0px;
        }

        .famo-text-10,
        .famo-text-11 {
            font-size: 34px !important;
        }

        .famo-text-23 {
            font-size: 50px !important;
        }

        span[class*="famo-text-"] {
            text-transform: uppercase;
        }

        .famo-color-red {
            color: #ff3333 !important;
        }

        .famo-color-green {
            color: #00cc00 !important;
        }

        .pda-victory-container {
            height: 200px;
        }

        .tv-text-1,
        .tv-text-2,
        .tv-text-3 {
            text-transform: uppercase;
        }

        .tv-text-1 {
            .applyText(normal, normal, 24px, @base_color_lighten_2);
        }

        .tv-text-2 {
            .applyText(normal, bold, 34px, @color_2);
        }

        .tv-text-3 {
            .applyText(normal, normal, 34px, @color_2);
        }

        .tv-blink-row {
            .runAnimation(blink-row 2s linear infinite);

            span[class*="tv-text-"],
            span[class*="famo-text-"]:not([class*="famo-color-"]) {
                .runAnimation(blink-row-text 2s linear infinite);
            }
        }

        .tv-famo-logo {
            img {
                height: 65px;
            }
        }

        .tv-dark-wrapper {
            .famo-content {
                background-color: @base_color_lighten_2;
            }

            span[class*="famo-text-"] {
                color: @color_2;
            }
        }

        .bin-orders {
            .applyCol(1, @width: 110px);
            .applyCol(3, @width: 245px);
            .applyCol(4, @width: 190px);
            .applyCol(5, @width: 165px);
            .applyCol(6, @width: 80px);

            .famo-body-row {
                .famo-col-1 {
                    span {
                        .applyWordHyphenation();
                    }
                }
            }
        }

        .bin-orders-data {
            overflow-y: hidden;
        }
    }

    .tv-footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;

        .tv-messages {
            padding-left: @famo_body_content_pad;
            padding-right: @famo_body_content_pad;
            background-color: @base_color_lighten_4;

            .row {
                margin-top: 0px;
                margin-bottom: 0px;

                &>div {
                    padding-top: 0px;
                    padding-bottom: 0px;

                    &:first-child::after {
                        content: '';
                        border: 20px aqua solid;
                    }
                }
            }

            .tv-message-type {
                table-layout: fixed;

                span {
                    .applyEllipsis();
                }
            }

            .famo-grid {
                height: 65px;

                .famo-cell {
                    vertical-align: middle;
                }
            }

            // .famo-cell {
            //     padding: 0px @famo_body_content_pad;
            //     vertical-align: middle;

            //     &:first-child {
            //         .applyCell(@width: 180px, @padding: 15px);

            //         span {
            //             .applyEllipsis();
            //         }
            //     }
            // }
        }
    }
}

//** ECRAS MUITO GRANDES
@media screen and (max-width: (1200px - 1px)) {}

//** ECRAS GRANDES
@media screen and (max-width: (992px - 1px)) {

    // Reset font-size properties.
    .famo-text-5,
    .famo-text-13 {
        font-size: 14px !important;
    }

    .famo-text-10,
    .famo-text-11,
    .famo-text-12,
    .famo-text-15 {
        font-size: 12px !important;
    }

    .famo-text-23 {
        font-size: 25px !important;
    }

    .famo-input {
        height: 30px;
    }

    div.famo-input {
        margin-bottom: 6px !important;
    }

    .famo-checkbox {
        &::before {
            width: 20px;
            height: 20px;
        }

        &::after {
            width: 12px;
            height: 7px;
            border-bottom-width: 3px;
            border-left-width: 3px;
            top: 5px;
            left: 4px;
        }
    }

    .famo-button {
        padding: 5px 10px;
    }

    .famo-body .famo-wrapper {
        .famo-form-grid .famo-input-label .famo-input-loader {
            top: -3px;
        }
    }

    .pallet-boxes {
        .applyCol(3, @width: @famo_content_fa_button_w);

        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height, @color_2);
        }
    }

    .shipments {
        .applyCol(1, @width: 80px);
        .applyCol(3, @width: 70px);
        .applyCol(4, @width: 30px);
        .applyCol(5, @width: @famo_content_fa_button_w);

        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height, @color_2);
        }
    }

    .expedition-products {
        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height, @base_color);
        }
    }

    .expedition-boxes {
        .applyCol(2, @width: @famo_content_fa_button_w);

        .famo-button .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height, @color_2);
        }
    }

    .expedition-components {
        .applyCol(1, @width: 95px);
        .applyCol(3, @width: 55px);
        .applyCol(4, @width: 35px);

        .fas {
            .applyIcon(@famo_icon_fs_content, @base_line_height);
        }
    }
}

//** ECRAS MEDIOS
@media screen and (max-width: (768px - 1px)) {}

//** ECRAS PEQUENOS
@media screen and (max-width: (576px - 1px)) {
    .shipments {
        .applyCol(1, @width: auto);
        .applyCol(2, none);
        .applyCol(3, none);
    }

    .expedition-details .col-xl-5 {
        display: none;
    }

    .expedition-components {
        .applyCol(1, none);
    }
}