@-webkit-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-o-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-ms-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-moz-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-webkit-keyframes blink-row-text {
  50% {
    color: #ffffff;
  }
}
@-o-keyframes blink-row-text {
  50% {
    color: #ffffff;
  }
}
@-ms-keyframes blink-row-text {
  50% {
    color: #ffffff;
  }
}
@-moz-keyframes blink-row-text {
  50% {
    color: #ffffff;
  }
}
@keyframes blink-row-text {
  50% {
    color: #ffffff;
  }
}
@media all {
  *:not(.famo-input) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .famo-text-5,
  .famo-text-13 {
    font-size: 16px !important;
  }
  .famo-text-10,
  .famo-text-11,
  .famo-text-12,
  .famo-text-15 {
    font-size: 14px !important;
  }
  .famo-text-23 {
    font-size: 26px !important;
  }
  .famo-input {
    height: 34px;
  }
  div.famo-input {
    margin-bottom: 7px !important;
  }
  .famo-checkbox::before {
    width: 25px;
    height: 25px;
  }
  .famo-checkbox::after {
    top: 6px;
    left: 5px;
    width: 15px;
    height: 9px;
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .famo-button {
    padding: 10px 15px;
  }
  * > .famo-button:not(:first-child) {
    margin-left: 4px;
  }
  .famo-body .famo-wrapper .famo-title span[class*="famo-text-"] {
    cursor: default;
  }
  .famo-body .famo-wrapper .famo-title span[class*="famo-text-"]::before {
    content: none;
  }
  .famo-body .famo-wrapper .famo-form-grid .famo-input-label .famo-input-loader {
    top: 0px;
  }
  .pda-app-loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
  }
  .pda-app-loader .famo-loader {
    width: 45px;
    margin: auto;
  }
  .pda-back-button {
    position: fixed;
    bottom: 20px;
    left: 15px;
    padding: 15px !important;
    border-radius: 50%;
    z-index: 100;
  }
  .pda-back-button .fas {
    font-size: 26px !important;
    line-height: 1em !important;
    color: white;
  }
  .pda-victory-container {
    width: 100%;
    height: 150px;
    text-align: center;
  }
  .pda-victory-container svg {
    width: 100%;
    height: 100%;
  }
  .pda-victory-container svg tspan {
    font-family: 'Noto Sans', Calibri, 'Trebuchet MS' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 36px !important;
    line-height: 1.375em !important;
    color: #000000;
  }
  .form-message {
    display: inline-block;
    margin-right: 10px;
  }
  .pallets .famo-row:not(.famo-header-row),
  .shipments .famo-row:not(.famo-header-row) {
    cursor: pointer;
  }
  .pallet-boxes .famo-col-1 {
    width: 120px;
  }
  .pallet-boxes .famo-col-3 {
    width: 70px;
  }
  .pallet-boxes .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .shipments .famo-col-1 {
    width: 120px;
  }
  .shipments .famo-col-3 {
    width: 110px;
  }
  .shipments .famo-col-4 {
    width: 105px;
  }
  .shipments .famo-col-5 {
    width: 70px;
  }
  .shipments .famo-body-row .famo-col-4 span[class*="famo-text-"] {
    display: inline-block;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
  }
  .shipments .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-products .famo-col-1 {
    width: 120px;
  }
  .expedition-products .famo-col-3 {
    width: 80px;
  }
  .expedition-products .famo-body-row .famo-col-2 span[class*="famo-text-"],
  .expedition-products .famo-body-row .famo-col-3 span[class*="famo-text-"] {
    display: inline-block;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
  }
  .expedition-products .famo-button {
    padding: 0px;
    margin: 0px !important;
  }
  .expedition-products .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #000000;
  }
  .expedition-boxes {
    margin-top: 15px;
  }
  .expedition-boxes .famo-col-2 {
    width: 70px;
  }
  .expedition-boxes .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-components .famo-col-1 {
    width: 125px;
  }
  .expedition-components .famo-col-3 {
    width: 85px;
  }
  .expedition-components .famo-col-4 {
    width: 65px;
  }
  .expedition-components .famo-col-5 {
    width: 40px;
  }
  .expedition-components .famo-body-row .famo-col-1 span[class*="famo-text-"],
  .expedition-components .famo-body-row .famo-col-2 span[class*="famo-text-"] {
    display: inline-block;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
  }
  .expedition-components .fas {
    font-size: 16px !important;
    line-height: 1em !important;
  }
  .warehouse-boxes .famo-col-2 {
    width: 115px;
  }
  .warehouse-boxes .famo-col-3 {
    width: 50px;
  }
  .tv-body p + p {
    margin-top: 0px;
  }
  .tv-body span[class*="famo-text-"] {
    text-transform: uppercase;
  }
  .tv-body .famo-text-10,
  .tv-body .famo-text-11 {
    font-size: 34px !important;
  }
  .tv-body .famo-text-23 {
    font-size: 45px !important;
  }
  .tv-body .famo-color-green {
    color: #00cc00 !important;
  }
  .tv-body .famo-color-red {
    color: #ff3333 !important;
  }
  .tv-body .famo-pagination .far,
  .tv-body .famo-pagination .fas {
    font-size: 28px !important;
    line-height: 1em !important;
    color: #404040;
  }
  .tv-body .famo-pagination .far:not(:first-child),
  .tv-body .famo-pagination .fas:not(:first-child) {
    margin-left: 5px;
  }
  .tv-body .pda-victory-container {
    height: 175px;
  }
  .tv-body .tv-text-1,
  .tv-body .tv-text-2,
  .tv-body .tv-text-3 {
    text-transform: uppercase;
  }
  .tv-body .tv-text-1 {
    font-family: 'Noto Sans', Calibri, 'Trebuchet MS' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 1.375em !important;
    color: #404040;
  }
  .tv-body .tv-text-2 {
    font-family: 'Noto Sans', Calibri, 'Trebuchet MS' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 34px !important;
    line-height: 1.375em !important;
    color: #ffffff;
  }
  .tv-body .tv-text-3 {
    font-family: 'Noto Sans', Calibri, 'Trebuchet MS' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 34px !important;
    line-height: 1.375em !important;
    color: #ffffff;
  }
  .tv-body .tv-blink-row {
    -webkit-animation: blink-row 2s linear infinite;
    -moz-animation: blink-row 2s linear infinite;
    -o-animation: blink-row 2s linear infinite;
    animation: blink-row 2s linear infinite;
  }
  .tv-body .tv-blink-row span[class*="famo-text-"]:not([class*="famo-color-"]),
  .tv-body .tv-blink-row span[class*="tv-text-"] {
    -webkit-animation: blink-row-text 2s linear infinite;
    -moz-animation: blink-row-text 2s linear infinite;
    -o-animation: blink-row-text 2s linear infinite;
    animation: blink-row-text 2s linear infinite;
  }
  .tv-body .tv-famo-logo img {
    height: 65px;
  }
  .tv-body .tv-dark-wrapper .famo-content {
    background-color: #404040;
  }
  .tv-body .tv-dark-wrapper span[class*="famo-text-"] {
    color: #ffffff;
  }
  .tv-body .to-box-orders .famo-col-1 {
    width: 150px;
  }
  .tv-body .to-box-orders .famo-col-3 {
    width: 265px;
  }
  .tv-body .to-box-orders .famo-col-4 {
    width: 210px;
  }
  .tv-body .to-box-orders .famo-col-5 {
    width: 150px;
  }
  .tv-body .to-box-orders .famo-col-6 {
    width: 130px;
  }
  .tv-body .to-box-orders-data {
    overflow-y: hidden;
  }
  .tv-body .to-box-orders-data .famo-grid {
    table-layout: fixed;
  }
  .tv-body .to-box-orders-data .famo-body-row .famo-col-1 span[class*="famo-text-"],
  .tv-body .to-box-orders-data .famo-body-row .famo-col-2 span[class*="famo-text-"],
  .tv-body .to-box-orders-data .famo-body-row .famo-col-1 span[class*="tv-text-"],
  .tv-body .to-box-orders-data .famo-body-row .famo-col-2 span[class*="tv-text-"] {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tv-body .to-box-orders-data .famo-body-row .famo-col-1 img {
    margin: 12px 0px;
  }
  .tv-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  .tv-footer .tv-messages .row {
    margin: 0px;
  }
  .tv-footer .tv-messages .row > div {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .tv-footer .tv-messages .row > div:first-child::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border: 37px #808080 solid;
    border-color: #f2f2f2 #f2f2f2 #808080 #808080;
    margin-right: 10px;
  }
  .tv-footer .tv-messages .famo-grid {
    height: 74px;
    background-color: #808080;
  }
  .tv-footer .tv-messages .famo-grid .famo-cell {
    padding: 0px 15px;
    vertical-align: middle;
  }
  .tv-footer .tv-messages .tv-message-type .famo-row,
  .tv-footer .tv-messages .tv-message-content .famo-row {
    height: 100%;
  }
  .tv-footer .tv-messages .tv-message-type::before,
  .tv-footer .tv-messages .tv-message-content::after {
    content: '';
    position: absolute;
    top: 0px;
    width: 10px;
    height: 100%;
    background-color: #808080;
  }
  .tv-footer .tv-messages .tv-message-type {
    width: calc(100% - 74px);
    table-layout: fixed;
  }
  .tv-footer .tv-messages .tv-message-type::before {
    left: 0px;
  }
  .tv-footer .tv-messages .tv-message-type span[class*="tv-text-"] {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tv-footer .tv-messages .tv-message-content::after {
    right: 0px;
  }
  .tv-footer .tv-messages .tv-message-content .transition-enter {
    transform: translateY(100%);
  }
  .tv-footer .tv-messages .tv-message-content .transition-enter-active {
    transform: translateY(0%);
    transition: transform 0.25s;
  }
  .tv-footer .tv-messages .tv-message-content .tv-text-3 {
    display: inline-block;
  }
  .famo-color-yellow-new {
    color: #faaa00 !important;
  }
}
@media screen and (max-width: 991px) {
  .famo-text-5,
  .famo-text-13 {
    font-size: 14px !important;
  }
  .famo-text-10,
  .famo-text-11,
  .famo-text-12,
  .famo-text-15 {
    font-size: 12px !important;
  }
  .famo-text-23 {
    font-size: 24px !important;
  }
  .famo-input {
    height: 30px;
  }
  div.famo-input {
    margin-bottom: 6px !important;
  }
  .famo-checkbox::before {
    width: 20px;
    height: 20px;
  }
  .famo-checkbox::after {
    top: 5px;
    left: 4px;
    width: 12px;
    height: 7px;
    border-bottom-width: 3px;
    border-left-width: 3px;
  }
  .famo-button {
    padding: 5px 10px;
  }
  .famo-body .famo-wrapper .famo-form-grid .famo-input-label .famo-input-loader {
    top: -3px;
  }
  .pallet-boxes .famo-col-3 {
    width: 60px;
  }
  .pallet-boxes .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .shipments .famo-col-1 {
    width: 100px;
  }
  .shipments .famo-col-3 {
    width: 90px;
  }
  .shipments .famo-col-4 {
    width: 50px;
  }
  .shipments .famo-col-5 {
    width: 60px;
  }
  .shipments .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-products .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #000000;
  }
  .expedition-boxes .famo-col-2 {
    width: 60px;
  }
  .expedition-boxes .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-components .famo-col-1 {
    width: 115px;
  }
  .expedition-components .famo-col-3 {
    width: 75px;
  }
  .expedition-components .famo-col-4 {
    width: 55px;
  }
  .expedition-components .fas {
    font-size: 14px !important;
    line-height: 1em !important;
  }
}
@media screen and (max-width: 575px) {
  .shipments .famo-col-1 {
    width: auto;
  }
  .shipments .famo-col-2 {
    display: none;
  }
  .shipments .famo-col-3 {
    display: none;
  }
  .expedition-details .col-xl-5 {
    display: none;
  }
  .expedition-components .famo-col-1 {
    display: none;
  }
}
