@media all {
  .famo-text-5,
  .famo-text-13 {
    font-size: 16px !important;
  }
  .famo-text-10,
  .famo-text-11,
  .famo-text-12 {
    font-size: 14px !important;
  }
  .famo-input {
    height: 34px;
  }
  .famo-button {
    padding: 10px 15px;
  }
  * > .famo-button:not(:first-child) {
    margin-left: 4px;
  }
  .famo-body .famo-wrapper .famo-title span {
    cursor: default;
  }
  .famo-body .famo-wrapper .famo-title span::before {
    content: none;
  }
  .pda-back-button {
    padding: 15px !important;
    border-radius: 50%;
    position: fixed;
    left: 15px;
    bottom: 35px;
    z-index: 100;
  }
  .pda-back-button .fas {
    font-size: 26px !important;
    line-height: 1em !important;
    color: white;
  }
  .pda-app-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #f2f2f2;
  }
  .pda-app-loader .famo-loader {
    width: 45px;
    margin: auto;
  }
  .pallets .famo-row:not(.famo-header-row),
  .shipments .famo-row:not(.famo-header-row) {
    cursor: pointer;
  }
  .pallet-boxes .famo-col-1 {
    width: 120px;
  }
  .pallet-boxes .famo-col-3 {
    width: 65px;
  }
  .pallet-boxes .button-delete-box .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .shipments .famo-col-1 {
    width: 150px;
  }
  .shipments .famo-col-3 {
    width: 95px;
  }
  .box-error-message {
    display: inline-block;
    margin-right: 10px;
  }
  .expedition-products .famo-col-1 {
    width: 120px;
  }
  .expedition-products .famo-col-3 {
    width: 80px;
  }
  .expedition-products .famo-body-row .famo-col-2 span,
  .expedition-products .famo-body-row .famo-col-3 span {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }
  .expedition-products .famo-button {
    padding: 0px;
    margin: 0px !important;
  }
  .expedition-products .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #000000;
  }
  .expedition-boxes {
    margin-top: 15px;
  }
  .expedition-boxes .famo-col-2 {
    width: 65px;
  }
  .expedition-boxes .button-delete-box .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-components .famo-col-1 {
    width: 125px;
  }
  .expedition-components .famo-col-3 {
    width: 80px;
  }
  .expedition-components .famo-col-4 {
    width: 40px;
  }
  .expedition-components .famo-body-row .famo-col-1 span,
  .expedition-components .famo-body-row .famo-col-2 span {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }
  .expedition-components .fas {
    font-size: 16px !important;
    line-height: 1em !important;
  }
}
@media screen and (max-width: 991px) {
  .famo-text-5,
  .famo-text-13 {
    font-size: 14px !important;
  }
  .famo-text-10,
  .famo-text-11,
  .famo-text-12 {
    font-size: 12px !important;
  }
  .famo-input {
    height: 30px;
  }
  .famo-button {
    padding: 5px 10px;
  }
  .pallet-boxes .famo-col-3 {
    width: 60px;
  }
  .pallet-boxes .button-delete-box .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-products .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #000000;
  }
  .expedition-boxes .famo-col-2 {
    width: 60px;
  }
  .expedition-boxes .button-delete-box .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-components .fas {
    font-size: 14px !important;
    line-height: 1em !important;
  }
}
@media screen and (max-width: 575px) {
  .shipments .famo-col-1 {
    width: 55%;
  }
  .shipments .famo-col-2 {
    display: none;
  }
  .shipments .famo-col-3 {
    width: 45%;
  }
  .expedition-details .col-xl-5 {
    display: none;
  }
  .expedition-components .famo-col-1 {
    display: none;
  }
}
