@-webkit-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-o-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-ms-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-moz-keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@keyframes blink-row {
  50% {
    background-color: #404040;
  }
}
@-webkit-keyframes blink-row-text {
  50% {
    color: white;
  }
}
@-o-keyframes blink-row-text {
  50% {
    color: white;
  }
}
@-ms-keyframes blink-row-text {
  50% {
    color: white;
  }
}
@-moz-keyframes blink-row-text {
  50% {
    color: white;
  }
}
@keyframes blink-row-text {
  50% {
    color: white;
  }
}
@media all {
  *:not(.famo-input) {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .famo-text-5,
  .famo-text-13 {
    font-size: 16px !important;
  }
  .famo-text-10,
  .famo-text-11,
  .famo-text-12,
  .famo-text-15 {
    font-size: 14px !important;
  }
  .famo-text-23 {
    font-size: 27px !important;
  }
  .famo-input {
    height: 34px;
  }
  div.famo-input {
    margin-bottom: 7px !important;
  }
  .famo-checkbox::before {
    width: 25px;
    height: 25px;
  }
  .famo-checkbox::after {
    width: 15px;
    height: 9px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    top: 6px;
    left: 5px;
  }
  .famo-button {
    padding: 10px 15px;
  }
  * > .famo-button:not(:first-child) {
    margin-left: 4px;
  }
  .famo-body .famo-wrapper .famo-title span {
    cursor: default;
  }
  .famo-body .famo-wrapper .famo-title span::before {
    content: none;
  }
  .famo-body .famo-wrapper .famo-form-grid .famo-input-label .famo-input-loader {
    top: 0px;
  }
  .pda-app-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #f2f2f2;
  }
  .pda-app-loader .famo-loader {
    width: 45px;
    margin: auto;
  }
  .pda-back-button {
    padding: 15px !important;
    border-radius: 50%;
    position: fixed;
    left: 15px;
    bottom: 20px;
    z-index: 100;
  }
  .pda-back-button .fas {
    font-size: 26px !important;
    line-height: 1em !important;
    color: white;
  }
  .pda-victory-container {
    width: 100%;
    height: 150px;
    text-align: center;
  }
  .pda-victory-container svg {
    width: 100%;
    height: 100%;
  }
  .pda-victory-container svg tspan {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 36px !important;
    line-height: 1.375em !important;
    font-family: 'Noto Sans', Calibri, 'Trebuchet MS' !important;
    color: #000000;
  }
  .form-message {
    display: inline-block;
    margin-right: 10px;
  }
  .pallets .famo-row:not(.famo-header-row),
  .shipments .famo-row:not(.famo-header-row) {
    cursor: pointer;
  }
  .pallet-boxes .famo-col-1 {
    width: 120px;
  }
  .pallet-boxes .famo-col-3 {
    width: 70px;
  }
  .pallet-boxes .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .shipments .famo-col-1 {
    width: 120px;
  }
  .shipments .famo-col-3 {
    width: 110px;
  }
  .shipments .famo-col-4 {
    width: 105px;
  }
  .shipments .famo-col-5 {
    width: 70px;
  }
  .shipments .famo-body-row .famo-col-4 span {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }
  .shipments .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-products .famo-col-1 {
    width: 120px;
  }
  .expedition-products .famo-col-3 {
    width: 80px;
  }
  .expedition-products .famo-body-row .famo-col-2 span,
  .expedition-products .famo-body-row .famo-col-3 span {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }
  .expedition-products .famo-button {
    padding: 0px;
    margin: 0px !important;
  }
  .expedition-products .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #000000;
  }
  .expedition-boxes {
    margin-top: 15px;
  }
  .expedition-boxes .famo-col-2 {
    width: 70px;
  }
  .expedition-boxes .famo-button .fas {
    font-size: 16px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-components .famo-col-1 {
    width: 125px;
  }
  .expedition-components .famo-col-3 {
    width: 85px;
  }
  .expedition-components .famo-col-4 {
    width: 65px;
  }
  .expedition-components .famo-col-5 {
    width: 40px;
  }
  .expedition-components .famo-body-row .famo-col-1 span,
  .expedition-components .famo-body-row .famo-col-2 span {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }
  .expedition-components .fas {
    font-size: 16px !important;
    line-height: 1em !important;
  }
  .warehouse-boxes .famo-col-2 {
    width: 115px;
  }
  .warehouse-boxes .famo-col-3 {
    width: 50px;
  }
  .tv-body p + p {
    margin-top: 0px;
  }
  .tv-body .famo-text-10,
  .tv-body .famo-text-11 {
    font-size: 34px !important;
  }
  .tv-body .famo-text-23 {
    font-size: 50px !important;
  }
  .tv-body span[class*="famo-text-"] {
    text-transform: uppercase;
  }
  .tv-body .famo-color-green {
    color: #33ff33 !important;
  }
  .tv-body .pda-victory-container {
    height: 200px;
  }
  .tv-body .tv-text-1 {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 1.375em !important;
    font-family: 'Noto Sans', Calibri, 'Trebuchet MS' !important;
    color: #404040;
    text-transform: uppercase;
  }
  .tv-body .tv-blink-row {
    -webkit-animation: blink-row 2s linear infinite;
    -moz-animation: blink-row 2s linear infinite;
    -o-animation: blink-row 2s linear infinite;
    animation: blink-row 2s linear infinite;
  }
  .tv-body .tv-blink-row span[class*="tv-text-"],
  .tv-body .tv-blink-row span[class*="famo-text-"]:not([class*="famo-color-"]) {
    -webkit-animation: blink-row-text 2s linear infinite;
    -moz-animation: blink-row-text 2s linear infinite;
    -o-animation: blink-row-text 2s linear infinite;
    animation: blink-row-text 2s linear infinite;
  }
  .tv-body .tv-dark-wrapper .famo-content {
    background-color: #404040;
  }
  .tv-body .tv-dark-wrapper span[class*="famo-text-"] {
    color: #ffffff;
  }
  .tv-body .bin-orders .famo-col-1 {
    width: 120px;
  }
  .tv-body .bin-orders .famo-col-3 {
    width: 265px;
  }
  .tv-body .bin-orders .famo-col-4 {
    width: 210px;
  }
  .tv-body .bin-orders .famo-col-5 {
    width: 185px;
  }
  .tv-body .bin-orders .famo-col-6 {
    width: 100px;
  }
  .tv-body .bin-orders-data {
    overflow-y: hidden;
  }
}
@media screen and (max-width: 991px) {
  .famo-text-5,
  .famo-text-13 {
    font-size: 14px !important;
  }
  .famo-text-10,
  .famo-text-11,
  .famo-text-12,
  .famo-text-15 {
    font-size: 12px !important;
  }
  .famo-text-23 {
    font-size: 25px !important;
  }
  .famo-input {
    height: 30px;
  }
  div.famo-input {
    margin-bottom: 6px !important;
  }
  .famo-checkbox::before {
    width: 20px;
    height: 20px;
  }
  .famo-checkbox::after {
    width: 12px;
    height: 7px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    top: 5px;
    left: 4px;
  }
  .famo-button {
    padding: 5px 10px;
  }
  .famo-body .famo-wrapper .famo-form-grid .famo-input-label .famo-input-loader {
    top: -3px;
  }
  .pallet-boxes .famo-col-3 {
    width: 60px;
  }
  .pallet-boxes .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .shipments .famo-col-1 {
    width: 100px;
  }
  .shipments .famo-col-3 {
    width: 90px;
  }
  .shipments .famo-col-4 {
    width: 50px;
  }
  .shipments .famo-col-5 {
    width: 60px;
  }
  .shipments .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-products .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #000000;
  }
  .expedition-boxes .famo-col-2 {
    width: 60px;
  }
  .expedition-boxes .famo-button .fas {
    font-size: 14px !important;
    line-height: 1em !important;
    color: #ffffff;
  }
  .expedition-components .famo-col-1 {
    width: 115px;
  }
  .expedition-components .famo-col-3 {
    width: 75px;
  }
  .expedition-components .famo-col-4 {
    width: 55px;
  }
  .expedition-components .fas {
    font-size: 14px !important;
    line-height: 1em !important;
  }
}
@media screen and (max-width: 575px) {
  .shipments .famo-col-1 {
    width: auto;
  }
  .shipments .famo-col-2 {
    display: none;
  }
  .shipments .famo-col-3 {
    display: none;
  }
  .expedition-details .col-xl-5 {
    display: none;
  }
  .expedition-components .famo-col-1 {
    display: none;
  }
}
